.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.col-id {
  width: 18%;
}

.col-order {
  width: 30%;
}

.col-count {
  width: 12%;
}

.col-fee, .col-price {
  width: 20%;
}

input {
  width: 100%;
}

@media screen {
  .print {
    display: none;
  }
}

@media print {
  .non-print {
    display: none;
  }

  .col-id {
    width: 5%;
  }

  .col-order {
    width: 43%;
  }

  td {
    position: relative !important;
    right: 0 !important;
  }
}
