<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>فاکتورساز</title>

    <script src="../vendor/jquery/dist/jquery.js"></script>
    <script src="../vendor/angular/angular.js"></script>

    <link href="../vendor/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="../vendor/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet">
    <link href="../vendor/bootstrap-rtl/dist/css/bootstrap-rtl.css" rel="stylesheet">
    <script src="../vendor/bootstrap/dist/js/bootstrap.js"></script>

    <script src="../vendor/angular-bootstrap/ui-bootstrap-tpls.js"></script>

    <link href="../css/foods.css" rel="stylesheet">
    <script src="../js/foods.js"></script>
</head>
<body ng-app="foods" ng-controller="ctrl as ctrl">
    <div class="container-fluid">
        <h3 class="text-center">منو</h3>

        <table class="table table-hover">
            <tr>
                <th width="5%">#</th>
                <th width="50%">غذا</th>
                <th width="35%">قیمت</th>
                <th width="10%">#</th>
            </tr>

            <tr ng-repeat="food in ctrl.foods track by $index" ng-dblclick="ctrl.setFood(food.name, food.price)">
                <td>
                    <a href="" ng-click="ctrl.setFood(food.name, food.price)">
                        <span class="glyphicon glyphicon-ok"></span>
                    </a>
                </td>
                <td><span my-editable="food.name" i-type="text"></span></td>
                <td><span my-editable="food.price" i-type="number"></span></td>
                <td>
                    <a href="" ng-click="ctrl.moveUp($index)">
                        <span class="glyphicon glyphicon-arrow-up"></span>
                    </a>
                    <a href="" ng-click="ctrl.moveDown($index)">
                        <span class="glyphicon glyphicon-arrow-down"></span>
                    </a>
                    <a href="" ng-click="ctrl.foods.splice($index, 1)">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                </td>
            </tr>
        </table>
        <a href="" ng-click="ctrl.foods.push({})">
            <span class="glyphicon glyphicon-plus"></span>
        </a>
    </div>
</body>
</html>
