<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>فاکتورساز</title>

    <script src="../vendor/jquery/dist/jquery.js"></script>
    <script src="../vendor/angular/angular.js"></script>

    <link href="../vendor/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="../vendor/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet">
    <link href="../vendor/bootstrap-rtl/dist/css/bootstrap-rtl.css" rel="stylesheet">
    <script src="../vendor/bootstrap/dist/js/bootstrap.js"></script>

    <script src="../vendor/angular-bootstrap/ui-bootstrap-tpls.js"></script>

    <link href="../css/main.css" rel="stylesheet">
    <script src="../js/index.js"></script>
</head>
<body data-ng-app="app" data-ng-controller="ctrl as ctrl">
    <div class="container-fluid">
        <h3 class="text-center">
          <span data-my-editable="ctrl.progName" data-i-type="text">&nbsp;</span>
        </h3>
        <a href="#" class="pull-left non-print" data-ng-click="ctrl.print()">
            <span class="glyphicon glyphicon-print">&nbsp;</span>
        </a>
        <a href="#" class="pull-left non-print" data-ng-click="ctrl.newFactor()">
            <span class="glyphicon glyphicon-edit">&nbsp;</span>
        </a>

        <div class="pull-right">
            شماره سفارش
            <span data-i-type="number" data-my-editable="ctrl.orderNumber">&nbsp;</span>
        </div>

        <table class="table table-hover">
            <tr>
                <th class="col-id">#</th>
                <th class="col-order">سفارش</th>
                <th class="col-count text-left">تعداد</th>
                <th class="col-fee text-left">فی</th>
                <th class="col-price text-left">قیمت</th>
            </tr>

            <tr data-ng-repeat="food in ctrl.foods">
                <td>
                    <span class="non-print">
                        <a href="#" data-ng-click="ctrl.foods.splice($index, 1)">
                            <span class="glyphicon glyphicon-trash">&nbsp;</span>
                        </a>
                        <a href="#" data-ng-click="ctrl.moveUp($index)">
                            <span class="glyphicon glyphicon-arrow-up">&nbsp;</span>
                        </a>
                        <a href="#" data-ng-click="ctrl.moveDown($index)">
                            <span class="glyphicon glyphicon-arrow-down">&nbsp;</span>
                        </a>
                    </span>
                    <span class="print">{{$index + 1 | persian}}</span>
                </td>
                <td><span data-my-editable="food.name" data-i-type="text">&nbsp;</span></td>
                <td class="text-left">
                  <span data-my-editable="food.count" data-i-type="number">&nbsp;</span>
                </td>
                <td class="text-left">
                  <span data-my-editable="food.price" data-i-type="number">&nbsp;</span>
                </td>
                <td class="text-left">
                  <span data-my-editable="food.totalPrice" data-i-type="number">&nbsp;</span>
                </td>
            </tr>

            <tr>
                <td colspan="4">جمع کل</td>
                <td class="text-left">
                  <span data-i-type="number" data-my-editable="ctrl.totalPrice">&nbsp;</span>
                </td>
            </tr>
        </table>
    </div>

    <div class="container-fluid non-print" data-ng-controller="foodsCntl as foods">
        <h3 class="text-center">منو</h3>

        <table class="table table-hover">
            <tr>
                <th width="5%">#</th>
                <th width="50%">غذا</th>
                <th width="35%">قیمت</th>
                <th width="10%">#</th>
            </tr>

            <tr data-ng-repeat="food in foods.foods track by $index" data-ng-dblclick="foods.setFood(food.name, food.price)">
                <td>
                    <a href="#" data-ng-click="foods.setFood(food.name, food.price)">
                        <span class="glyphicon glyphicon-ok">&nbsp;</span>
                    </a>
                </td>
                <td><span data-my-editable="food.name" data-i-type="text">&nbsp;</span></td>
                <td><span data-my-editable="food.price" data-i-type="number">&nbsp;</span></td>
                <td>
                    <a href="#" data-ng-click="foods.moveUp($index)">
                        <span class="glyphicon glyphicon-arrow-up">&nbsp;</span>
                    </a>
                    <a href="#" data-ng-click="foods.moveDown($index)">
                        <span class="glyphicon glyphicon-arrow-down">&nbsp;</span>
                    </a>
                    <a href="#" data-ng-click="foods.foods.splice($index, 1)">
                        <span class="glyphicon glyphicon-trash">&nbsp;</span>
                    </a>
                </td>
            </tr>
        </table>
        <a href="#" data-ng-click="foods.newFood()">
            <span class="glyphicon glyphicon-plus">&nbsp;</span>
        </a>
    </div>
</body>
</html>
