<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>فاکتورساز</title>

    <script src="../vendor/jquery/dist/jquery.js"></script>
    <script src="../vendor/jquery-ui/ui/jquery-ui.js"></script>
    <script src="../vendor/angular/angular.js"></script>
    <script src="../vendor/angular-ui-sortable/sortable.js"></script>

    <link href="../vendor/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="../vendor/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet">
    <link href="../vendor/bootstrap-rtl/dist/css/bootstrap-rtl.css" rel="stylesheet">
    <script src="../vendor/bootstrap/dist/js/bootstrap.js"></script>

    <script src="../vendor/angular-bootstrap/ui-bootstrap-tpls.js"></script>

    <link href="../css/main.css" rel="stylesheet">
    <script src="../js/index.js"></script>
</head>
<body data-ng-app="app" data-ng-controller="ctrl as ctrl">
    <div class="container-fluid">
        <h3 class="text-center">
          <span data-my-editable="ctrl.progName" data-i-type="text">&nbsp;</span>
        </h3>
        <a href="#" class="pull-left non-print" data-ng-click="ctrl.print()">
            <span class="glyphicon glyphicon-print">&nbsp;</span>
        </a>
        <a href="#" class="pull-left non-print" data-ng-click="ctrl.newFactor()">
            <span class="glyphicon glyphicon-edit">&nbsp;</span>
        </a>

        <div class="pull-right">
            شماره سفارش
            <span data-i-type="number" data-my-editable="ctrl.orderNumber">&nbsp;</span>
        </div>

        <table class="table table-hover">
          <thead>
            <tr>
                <th class="col-id">#</th>
                <th class="col-order">سفارش</th>
                <th class="col-count text-left">تعداد</th>
                <th class="col-fee text-left">فی</th>
                <th class="col-price text-left">قیمت</th>
            </tr>
          </thead>

          <tbody data-ui-sortable data-ng-model="ctrl.foods">
            <tr data-ng-repeat="food in ctrl.foods">
                <td>
                    <span class="non-print">
                        <a href="#" data-ng-click="ctrl.foods.splice($index, 1)">
                            <span class="glyphicon glyphicon-trash">&nbsp;</span>
                        </a>
                    </span>
                    <span class="print">{{$index + 1 | persian}}</span>
                </td>
                <td><span data-my-editable="food.name" data-i-type="text">&nbsp;</span></td>
                <td class="text-left">
                  <span data-my-editable="food.count" data-i-type="number">&nbsp;</span>
                </td>
                <td class="text-left">
                  <span data-my-editable="food.price" data-i-type="number">&nbsp;</span>
                </td>
                <td class="text-left">
                  <span data-my-editable="food.totalPrice" data-i-type="number">&nbsp;</span>
                </td>
            </tr>
          </tbody>

            <tr>
                <td colspan="4">جمع کل</td>
                <td class="text-left">
                  <span data-i-type="number" data-my-editable="ctrl.totalPrice">&nbsp;</span>
                </td>
            </tr>
        </table>
    </div>

    <div class="container-fluid non-print" data-ng-controller="foodsCntl as foods">
        <h3 class="text-center">منو</h3>

        <div data-ui-sortable data-ng-model="foods.foods">
          <div data-ng-repeat="group in foods.foods">
            <a href="#" data-ng-click="group.collapsed=!group.collapsed">
              <span class="glyphicon" 
                data-ng-class="{'glyphicon-chevron-down': !group.collapsed,
                'glyphicon-chevron-left':  group.collapsed}">&nbsp;</span>
            </a>
            <span data-my-editable="group.name" data-i-type="text">&nbsp;</span>
            <div class="pull-left">
              <a href="#" data-ng-click="foods.foods.splice($index, 1)">
                <span class="glyphicon glyphicon-trash">&nbsp;</span>
              </a>
            </div>

            <div data-collapse="group.collapsed">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th width="5%">#</th>
                    <th width="40%">غذا</th>
                    <th width="15%">تعداد</th>
                    <th width="30%">قیمت</th>
                    <th width="10%">#</th>
                  </tr>
                </thead>

                <tbody data-ui-sortable data-ng-model="group.foods">
                  <tr data-ng-repeat="food in group.foods">
                    <td>
                      <a href="#" data-ng-click="foods.setFood(food.name, food.price, foods.foodCount)">
                        <span class="glyphicon glyphicon-ok">&nbsp;</span>
                      </a>
                    </td>
                    <td><span data-my-editable="food.name" data-i-type="text">&nbsp;</span></td>
                    <td><input type="number" data-ng-model="foods.foodCount"></td>
                    <td><span data-my-editable="food.price" data-i-type="number">&nbsp;</span></td>
                    <td>
                      <a href="#" data-ng-click="group.foods.splice($index, 1)">
                        <span class="glyphicon glyphicon-trash">&nbsp;</span>
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
              <a href="#" data-ng-click="foods.newFood(group)">
                <span class="glyphicon glyphicon-plus">&nbsp;</span>
                گزینه&nbsp;ی جدید
              </a>
            </div>
          </div>
        </div>
        <a href="#" data-ng-click="foods.newGroup()">
            <span class="glyphicon glyphicon-plus">&nbsp;</span>
            گروه جدید
        </a>
    </div>
</body>
</html>
